.Hero
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Hero .Hero-Div
{
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  text-align: center;
}
.Img-area
{
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./../../assets/Mask-group.png);
  background-size: contain;
}

.blob {
  width: 200px;
  height: 200px;
  background-color: #ffcc5c;
  border-radius: 50%;
  overflow: hidden; /* لإخفاء أي شيء خارج حدود الـ blob */
  position: relative;
  transition: all 1s ease; /* لعمل الحركة بشكل سلس */
}

/* تخصيص الصورة داخل الـ blob */
.blob img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* لضمان ملائمة الصورة بالكامل داخل الـ div */
}

@media (max-width:880px)
{
  .Hero .Hero-Div
  {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}

@media (max-width:880px)
{
  .Hero .Hero-Div
  {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50%;

  }
}

@media (max-width:880px)
{
  .Hero .Hero-Div .Content h2
  { 
    font-size: 20px;
    line-height: 35px;
  }
  .Hero .Hero-Div .Content h3
  { 
    font-size: 16px;
    font-weight: 400;
  }
}