.animated-loop {
  stroke-dasharray: 100 400; /* يتناسب مع المسار الكامل */
  stroke-dashoffset: 0;
  animation: loopPath 3s linear infinite;
}

@keyframes loopPath {
  to {
    stroke-dashoffset: -500;
  }
}

.Fathar{
  margin: 50px 0px;
  /* display: none; */
}

.Get-In-Touch {  
  display: flex;   
  justify-content: center;   
  align-items: center;   
  height: 100px;   
  margin-bottom: 50px;  
}  
.sd{
  color: #ff5f5fe7;
}

.get {  
  text-align: center;   
  border: 2px solid white;  
  padding: 30px;  
}   

.parant {   
  height: auto;  
  display: flex;  
  justify-content: center;   
  align-items: center;  
  margin-bottom: 70px;  
  flex-wrap: wrap;
}  

.children {   
  width: 285px;  
  height: auto;  
  display: flex;  
  flex-direction: column;  
  justify-content: space-between;  
  align-items: center;  
  margin: 20px 0;
}  

.children h2 { 
  font-size: 60px;
  color: red;

}
.children h3 { 
font-size: 20px;
margin-bottom: 15px;
}
.children p {   
  width: 255px;  
  height: 24px;  
}  

.contact-us-page {  
  width: 80%;  
  margin: 0 auto;
  display: flex;  
  justify-content: space-between;  
  padding: 20px;
  flex-wrap: wrap;  
  gap: 30px;
}  

.form-container {  
  width: 760px;   
  height: auto;  
  margin: 0 10px;  
}    

.Name-email {   
  display: flex;  
  gap: 30px;  
  justify-content: space-between;  
  width: 100%;  
}  

.Name-email .form-group {   
   width: 380px;  
   height: 99px;  
}  

.form-group {  
  margin-bottom: 15px;  
}  

input, textarea {  
  width: 100%;  
  padding: 10px;  
  border: none;  
  background: rgba(51, 51, 51, 0.8);   
  color: white;  
  margin-top: 10px;  
}  

textarea {  
  height: 100px;   
}  

.submit-button {  
  width: 40%;  
  height: 50px;  
  padding: 10px;  
  background: #ce0000;   
  color: white;   
  border: none;  
  border-radius: 4px;  
  cursor: pointer;  
  font-size: 16px;   
}  

.submit-button:hover {  
  background-color: #b37700;  
}  

.connect-container {  
  margin-top: 8px;    
  height: auto;  
}  

.social-icons {  
  display: flex;  
  flex-direction: column;   
  align-items: center;  
  width: 100%;  
  gap: 10px;   
}  

.social-icon {  
  width: 150px ;  
  height: 48px;  
  text-decoration: none;  
  font-size: 15px;  
  display: flex;  
  align-items: center;  
  margin: 15px 0;  
  color: #ce0000;
}  

.icon-circle {  
  width: 48px;            
  height: 48px;           
  border: 2px solid #ccc;  
  border-radius: 50%;      
  display: flex;  
  align-items: center;     
  justify-content: center;   
  background: rgba(51, 51, 51, 0.8);   
  margin-right: 10px;     
}  
.social-icon p{  
  font-weight: 600;
}

@media (max-width: 1276px) {  

    .contact-us-page {  
        padding-left: 20px; 
        padding-top: 10px;  
        flex-direction: column; 
        align-items: center; 

    }  

    .form-container {  
        width: 100%; 
        margin: 0; 
    }  

    .Name-email {  
        flex-direction: column; 
        gap: 15px; 
    }  

    .Name-email .form-group {  
        width: 100%; 
    }  

    .submit-button {  
        width: 100%; 
        margin-top: 15px;
    }  

    .connect-container {  
        width: 100%;
    }  
    .connect-container h2{
      text-align: center;
    }
    .social-icons {  
        flex-direction: row; 
        justify-content: center;  
    }  

    .social-icon {  
        width: 40%; 
        max-width: 320px; 
        justify-content: center;
        margin-top: 20px;
    }  
}  

@media (max-width: 750px) {  
    .social-icons {  
        flex-wrap: wrap; 
    }  
}

@media (max-width: 480px) {  
    h2 {  
        font-size: 1.5em;  
    }  

    .Name-email {  
        gap: 10px; 
    }  

    .social-icon {  
        width: 170px; 
        margin: 10px auto; 
        padding-left: 20px; 
        justify-content: flex-start;
        
    }  
}