.footer {  
    background: linear-gradient(#fff8f8, rgb(254, 246, 246));  
    color: #fffefe;  
    padding: 20px 0;  
    display: flex;
  
}  

.footer-content {  
    margin: 0 auto;  
    padding: 0 20px;  
    color: #000;
    font-weight: 600;
}  


.footer-social-icon:hover {  
    color: #2a1e02;  
}  

.btn {  
    position: fixed;  
    bottom: 30px; /* المسافة من الأسفل */  
    right: 25px;  /* المسافة من اليمين */  
    background-color: #ff7f7f; /* لون خلفية الزر */  
    color: white; /* لون النص */  
    border: none;  
    border-radius: 5px; /* شكل الزر */  
    padding: 10px 15px; /* تفريغ الزر */  
    cursor: pointer; /* شكل المؤشر عند مرور الماوس على الزر */  
    transition: 0.6s; /* تأثير انتقال اللون */  
    opacity: 1;
}  
.btnoff {  
    position: fixed;  
    bottom: 10px; /* المسافة من الأسفل */  
    right: 100px;  /* المسافة من اليمين */  
    background-color: #ff7f7f; /* لون خلفية الزر */  
    color: white; /* لون النص */  
    border: none;  
    border-radius: 5px; /* شكل الزر */  
    padding: 10px 15px; /* تفريغ الزر */  
    cursor: pointer; /* شكل المؤشر عند مرور الماوس على الزر */  
    transition: 0.6s; /* تأثير انتقال اللون */  
    opacity: 0;
}  

.btn:hover {  
    background-color: #ff4c4c; /* لون خلفية الزر عند التمرير عليه */  
}