body
{
  background-color: var(--general-color);
  user-select: none;
}
main
{
  /* background: linear-gradient(rgb(94, 99, 145) , black); */
  background: linear-gradient(#010101 , #010101);
  width: 100%;
}