.About-me
{
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.About-me img{
  width: 400px;
}
.About-me p{
  width: 50vw;
  font-size: 18px;
  text-align: center;
}
.blob {
  width: 200px;
  height: 200px;
  background-color: #ffcc5c;
  border-radius: 50%;
  overflow: hidden; /* لإخفاء أي شيء خارج حدود الـ blob */
  position: relative;
  transition: all 1s ease; /* لعمل الحركة بشكل سلس */
}

/* تخصيص الصورة داخل الـ blob */
.blob img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* لضمان ملائمة الصورة بالكامل داخل الـ div */
}